%h1
  TODO: You will only see this page if you're not logged in. If you're logged in, we need the app to redirect to the user's dashboard page.
%p
  =link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"