%div
  %ul
    %li
      %a{href: "#"}
        All
    %li
      %a{href: "#"}
        Overdue
    %li
      %a{href: "#"}
        Coming Up
    %li
      =link_to "+ New Nag", new_nag_url, class: 'button radius medium btn-new-item'
%div
  %div
    %a.th{href: "detail.html"}
      %img{src: "http://placehold.it/350x200"}
  %div
    %div
      %h2 
        =link_to 'Dan Kim owes you $40 for Taylor Swift Tickets', '#'
        Due: 2/1/13
%div
  %div
    %a.th{href: "detail.html"}
      %img{src: "http://placehold.it/350x200"}
  %div
    %div
      %h2 
        =link_to 'Dan Kim owes you $40 for Taylor Swift Tickets', '#'
        Due: 2/1/13