.landing-container
  .landing-header
    =link_to "/auth/facebook", id: "sign_in" do
      =image_tag('facebook-sign-in.png', class: "facebook-sign-in")
  .hero
    %img.landing-logo{src: "/assets/naglogo.png"}
    %h2
      Friends forget. Let's remind them.
  .features
    .feature-1
      .feature-text
        %h2
          Simple and fast.
        %p
          Nag was built from the ground up to do one thing, simply and lightning fast. You keep track of your stuff, we remind people to get it back to you. No clutter, no confusion, no noise.
    .feature-2.black
      .feature-text
        %h2
          Automated reminders.    
        %p
          When an item is due, we'll send you friend a personlized message from you, and your on your way to reclaiming your stuff. Oh, and we promise to be super friendly about it.
    .feature-3
      .feature-text
        %h2
          Works everywhere.
        %p
          On your phone or on your computer, you can do everything. Just fire up a modern browser and you'll have the same simple way to track your stuff.