.landing-container
  .landing-header
    =link_to "/auth/facebook", id: "sign_in" do
      =image_tag('facebook-sign-in.png', class: "facebook-sign-in")
  .hero
    %img.landing-logo{src: "/assets/naglogo.png"}
    %h2
      Friends forget. We'll remind them.
  %section
    .feature-1
      .feature-text
        %h2
          Simple and lightning fast.
        %p
          Nag was built to do one thing - to get your stuff back. We keep track of your stuff and remind your friends when you want it back. It only takes 30 seconds to sign up and create your first nag. No extra steps, no confusion, no noise.
      %img{src: "/assets/laptop.png"}
    .feature-2
      .feature-text
        %h2
          Automated reminders.    
        %p
          When an item is due, we'll send your friend a personlized message from you. You'll be well on your way to reclaiming what's rightfully your's. Oh, and we promise to be super friendly about it.
    .feature-3
      .feature-text
        %h2
          Works everywhere.
        %p
          On your phone or on your computer, you can do everything. Just open a browser and track your stuff. No special software needed. Apple, Android, Windows - you're all welcome here. 