.landing-container
  .landing-header
    =link_to "/auth/facebook", id: "sign_in" do
      =image_tag('facebook-sign-in.png', class: "facebook-sign-in")
  .hero
    %img.landing-logo{src: "/assets/naglogo.png"}
    %h2
      Friends forget. Let's remind them.
  %section
    .feature-1
      .feature-text
        %h2
          Simple. Lightning fast.
        %p
          Nag was built to do one thing - get your stuff back. We keep track of items you've loaned out and remind your friends about them. It only takes 30 seconds to sign up and create your first nag. Get in, get out, get your stuff back.
      %img{src: "/assets/laptop.png"}
    .feature-2
      .feature-text
        %h2
          Automatic reminders.    
        %p
          Getting your friends to return your stuff is the hard part. There never seems to be a good time or a good way to bring it up.
        %p
          That's where Nag steps in. We automatically send your friend a witty Facebook message on your behalf the day an item is due. There's nothing else you need to do. And you can even continue the conversation through Facebook chat to coordinate how to get your stuff back.
    .feature-3
      .feature-text
        %h2
          Works everywhere.
        %p
          On your phone or on your computer, Nag works everywhere. Just open a browser and track your stuff. No special software needed. 