!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/ [if IE 8]
  <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]
  <html class="no-js" lang="en">

%head
  %meta{charset: "UTF-8"}
  %meta{name: "viewport", content: "width=device=width"}

  %title Demo Day
  
  %link{href: "stylesheets/foundation.min.css", media: "screen", rel: "stylesheet"}
  %link{href: "stylesheets/app.css", media: "screen", rel: "stylesheet"}

  %script{src: "javascripts/foundation/modernizr.foundation.js"}
%body
  %nav.top-bar
    %ul
      %li.name
        %h1
          %a{href: "#"}
            Demo Day
      %li.toggle-topbar
        %a{href: "#"}
    %section
      %ul.left
        %li
          %a{href: "#"}
            New Nag
      %ul.right
        %li
          %a{href: "#"}
            Settings
        %li
          %a{href: "#"}
            Account
        %li
          %a{href: "#"}
            Sign Out 
  .row
    .twelve.columns
      %dl.sub-nav
        %dd.active
          %a{href: "#"}
            All
        %dd
          %a{href: "#"}
            Overdue
        %dd
          %a{href: "#"}
            Coming Up
  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Dan Kim 
          owes you $40 for 
          %a{href: "#"}
            Pitchfork Concert Tickets

  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Will Piers
          owes you $75 for 
          %a{href: "#"}
            Pearl Jam Concert Tickets
  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Karen Wei
          owes you $40 for 
          %a{href: "#"}
            NKOTB Concert Tickets
  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Shay Howe
          owes you $65 for 
          %a{href: "#"}
            Cubs Game Tickets

  / This is not production ready. This is how Zurb comes by default.
  / TODO: Cleanup Javascript
  %script{src: "javascripts/foundation/jquery.js"}
  %script{src: "javascripts/foundation/jquery.cookie.js"}
  %script{src: "javascripts/foundation/jquery.event.move.js"}
  %script{src: "javascripts/foundation/jquery.event.swipe.js"}
  %script{src: "javascripts/foundation/jquery.foundation.accordion.js"}
  %script{src: "javascripts/foundation/jquery.foundation.alerts.js"}
  %script{src: "javascripts/foundation/jquery.foundation.buttons.js"}
  %script{src: "javascripts/foundation/jquery.foundation.clearing.js"}
  %script{src: "javascripts/foundation/jquery.foundation.forms.js"}
  %script{src: "javascripts/foundation/jquery.foundation.joyride.js"}
  %script{src: "javascripts/foundation/jquery.foundation.magellan.js"}
  %script{src: "javascripts/foundation/jquery.foundation.mediaQueryToggle.js"}
  %script{src: "javascripts/foundation/jquery.foundation.navigation.js"}
  %script{src: "javascripts/foundation/jquery.foundation.orbit.js"}
  %script{src: "javascripts/foundation/jquery.foundation.reveal.js"}
  %script{src: "javascripts/foundation/jquery.foundation.tabs.js"}
  %script{src: "javascripts/foundation/jquery.foundation.tooltips.js"}
  %script{src: "javascripts/foundation/jquery.foundation.topbar.js"}
  %script{src: "javascripts/foundation/jquery.placeholder.js"}
  %script{src: "javascripts/app.js"}

