!!! 5
%head
  %title Demo Day
  %meta{charset: "UTF-8"}
  %link{href: "stylesheets/app.css", media: "screen", rel: "stylesheet", type: "text/css"}
%body
  / .contain-to-grid
  %nav.top-bar
    %ul
      %li.name
        %h1
          %a{href: "#"}
            Demo Day
      %li.toggle-topbar
        %a{href: "#"}
    %section
      %ul.left
        %li
          %a{href: "#"}
            New Nag
      %ul.right
        %li
          %a{href: "#"}
            Settings
        %li
          %a{href: "#"}
            Account
        %li
          %a{href: "#"}
            Sign Out 
  .row
    .twelve.columns
      %dl.sub-nav
        %dd.active
          %a{href: "#"}
            All
        %dd
          %a{href: "#"}
            Overdue
        %dd
          %a{href: "#"}
            Coming Up
  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Dan Kim 
          owes you $40 for 
          %a{href: "#"}
            Pitchfork Concert Tickets

  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Will Piers
          owes you $75 for 
          %a{href: "#"}
            Pearl Jam Concert Tickets
  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Karen Wei
          owes you $40 for 
          %a{href: "#"}
            NKOTB Concert Tickets
  .row
    .four.columns
      %a.th{href: "#"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "#"} 
            Shay Howe
          owes you $65 for 
          %a{href: "#"}
            Cubs Game Tickets

