!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/ [if IE 8]
  <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]
  <html class="no-js" lang="en">

%head
  %meta{charset: "UTF-8"}
  %meta{name: "viewport", content: "width=device-width"}

  %title Demo Day
  
  %link{href: "stylesheets/app.css", media: "screen", rel: "stylesheet"}
  %link{href: "http://fonts.googleapis.com/css?family=Lato:400,700", media: "screen", rel: "stylesheet"}

  %script{src: "javascripts/foundation/modernizr.foundation.js"}
%body
  %div#fb-root
  %nav.top-bar
    %ul
      %li.name
        %h1
          %a{href: "index.html"}
            Demo Day
      %li.toggle-topbar
        %a{href: "#"}
    %section
      %ul.right
        %li
          %a{href: "#"}
            Settings
        %li
          %a{href: "#"}
            Account
        %li
          %a{href: "#"}
            Sign Out 
  .row
    .twelve.columns
      %dl.sub-nav.ten.columns
        %dd.active
          %a{href: "#"}
            All
        %dd
          %a{href: "#"}
            Overdue
        %dd
          %a{href: "#"}
            Coming Up
      %a.button.radius.two.columns{href: "new.html"}
        + New Item 
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Dan Kim owes you $40 for Taylor Swift Tickets
      %div.three.columns.due-date
        .alert-box.success
          Due: 3/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Will Piers has your NKOTB Special Edition DVD
      %div.three.columns.due-date
        .alert-box.alert
          Due: 2/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Karen Wei owes you $40 for Boys II Men Concert Tickets
      %div.three.columns.due-date
        .alert-box.success
          Due: 6/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Shay Howe has your 6 pack of Hopleaf
      %div.three.columns.due-date
        .alert-box.success
          Due: 4/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Mike McGee has your favorite sandals
      %div.three.columns.due-date
        .alert-box.success
          Due: 4/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Greg Williams owes you $400
      %div.three.columns.due-date
        .alert-box.success
          Due: 4/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Arvin Dang owes you 10 free hookah pulls
      %div.three.columns.due-date
        .alert-box.success
          Due: 4/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Jeff Cohen has your Rails book
      %div.three.columns.due-date
        .alert-box.success
          Due: 4/1/13
  .row.row-spacer
    .four.columns
      %a.th{href: "detail.html"}
        %img{src: "http://placehold.it/350x200"}
    .eight.columns
      %div
        %h2 
          %a{href: "detail.html"} 
            Shay Howe has your 6 pack of Hopleaf
      %div.three.columns.due-date
        .alert-box.success
          Due: 4/1/13
  %footer.row
    .twelve.columns
      This is a footer  

  / This is not production ready. This is how Zurb comes by default.
  %script{src: "javascripts/foundation/jquery.js"}
  %script{src: "javascripts/foundation/jquery.cookie.js"}
  %script{src: "javascripts/foundation/jquery.event.move.js"}
  %script{src: "javascripts/foundation/jquery.event.swipe.js"}
  %script{src: "javascripts/foundation/jquery.foundation.accordion.js"}
  %script{src: "javascripts/foundation/jquery.foundation.alerts.js"}
  %script{src: "javascripts/foundation/jquery.foundation.buttons.js"}
  %script{src: "javascripts/foundation/jquery.foundation.clearing.js"}
  %script{src: "javascripts/foundation/jquery.foundation.forms.js"}
  %script{src: "javascripts/foundation/jquery.foundation.joyride.js"}
  %script{src: "javascripts/foundation/jquery.foundation.magellan.js"}
  %script{src: "javascripts/foundation/jquery.foundation.mediaQueryToggle.js"}
  %script{src: "javascripts/foundation/jquery.foundation.navigation.js"}
  %script{src: "javascripts/foundation/jquery.foundation.orbit.js"}
  %script{src: "javascripts/foundation/jquery.foundation.reveal.js"}
  %script{src: "javascripts/foundation/jquery.foundation.tabs.js"}
  %script{src: "javascripts/foundation/jquery.foundation.tooltips.js"}
  %script{src: "javascripts/foundation/jquery.foundation.topbar.js"}
  %script{src: "javascripts/foundation/jquery.placeholder.js"}

  / %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"}
  %script{src: "javascripts/foundation/app.js"}

