!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/ [if IE 8]
  <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]
  <html class="no-js" lang="en">

%head
  %meta{charset: "UTF-8"}
  %meta{name: "viewport", content: "width=device=width"}

  %title Demo Day - New

  %link{href: "stylesheets/app.css", media: "screen", rel: "stylesheet"}
  %link{href: "http://fonts.googleapis.com/css?family=Lato:400,700", media: "screen", rel: "stylesheet"}

  %script{src: "javascripts/foundation/modernizr.foundation.js"}
%body
  %nav.top-bar
    %ul
      %li.name
        %h1
          %a{href: "index.html"}
            Demo Day
      %li.toggle-topbar
        %a{href: "#"}
    %section
      %ul.right
        %li
          %a{href: "#"}
            Settings
        %li 
          %a{href: "#"}
            Account
        %li
          %a{href: "#"}
            Sign Out 
  .row.five.columns.centered
    %form
      %input#who{type: "text", placeholder: "Who owes you?", autofocus: true}
      %input#what{type: "text", placeholder: "What do they owe you?"}
      %input#when{type: "text", placeholder: "When is it due?"}
      %a.button.large.radius
        Submit
      %a.button.large.radius{href: "index.html", alt: "Cancel"}
        Cancel


  / This is not production ready. This is how Zurb comes by default.
  / TODO: Cleanup Javascript
  %script{src: "javascripts/foundation/jquery.js"}
  %script{src: "javascripts/foundation/jquery.cookie.js"}
  %script{src: "javascripts/foundation/jquery.event.move.js"}
  %script{src: "javascripts/foundation/jquery.event.swipe.js"}
  %script{src: "javascripts/foundation/jquery.foundation.accordion.js"}
  %script{src: "javascripts/foundation/jquery.foundation.alerts.js"}
  %script{src: "javascripts/foundation/jquery.foundation.buttons.js"}
  %script{src: "javascripts/foundation/jquery.foundation.clearing.js"}
  %script{src: "javascripts/foundation/jquery.foundation.forms.js"}
  %script{src: "javascripts/foundation/jquery.foundation.joyride.js"}
  %script{src: "javascripts/foundation/jquery.foundation.magellan.js"}
  %script{src: "javascripts/foundation/jquery.foundation.mediaQueryToggle.js"}
  %script{src: "javascripts/foundation/jquery.foundation.navigation.js"}
  %script{src: "javascripts/foundation/jquery.foundation.orbit.js"}
  %script{src: "javascripts/foundation/jquery.foundation.reveal.js"}
  %script{src: "javascripts/foundation/jquery.foundation.tabs.js"}
  %script{src: "javascripts/foundation/jquery.foundation.tooltips.js"}
  %script{src: "javascripts/foundation/jquery.foundation.topbar.js"}
  %script{src: "javascripts/foundation/jquery.placeholder.js"}
  %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"}
  %script{src: "javascripts/foundation/app.js"}

