.center-container
  =image_tag "https://graph.facebook.com/#{current_user.uid}/picture?type=large", class: 'borrower-photo'
  =form_for current_user do |f|
    =f.text_field :name, placeholder: "Johnny Appleseed"
    =f.text_field :email, placeholder: "john@example.org"
    =f.submit "Save", :disable_with => 'Saving...', class: 'btn'
