-if nag.due_date + 1.second > Time.now + 1.week
  .alert-box
    ="Due: #{nag.due_date.strftime('%b %-d, %Y')}"
-elsif nag.due_date == Time.now.to_date
  .alert-box-high-priority
    ="Due Today"
-elsif nag.due_date < Time.now.to_date
  .alert-box-high-priority
    ="Was due #{distance_of_time_in_words(Time.now.to_date, nag.due_date)} ago"
-else
  .alert-box-high-priority
    ="Due in #{distance_of_time_in_words(Time.now.to_date, nag.due_date)}"
