.nag-form-header
  All fields are required.
-if @nag.errors.any?
  %h3
    ="#{pluralize(@nag.errors.count, "error")} prohibited this nag from being saved:"
  %ul
    -@nag.errors.full_messages.each do |message|
      %li
        =message
=form_for @nag, html: {id: "nag-form", class: "nag-form"} do |f|
  =f.hidden_field :user_id, value: current_user.id, tabindex: 0
  =f.text_field :lendee_name, id: "who", placeholder: "Who owes you?", tabindex: 1, class: "required"
  %div#friend-list
  =f.text_field :item, id: "what", placeholder: "What do they owe you?", tabindex: 2, class: "required"
  =f.text_field :due_date, id: "when", placeholder: "When is it due?", tabindex: 3, class: "date required"
  =f.hidden_field :lendee_uid, id: "lendee_uid", placeholder: "Lendee UID (this will be hidden in production)", tabindex: 4
  .nag-form-buttons
    =f.submit "Submit", :disable_with => "Submitting...", class: "btn", tabindex: 5
    -if @nag.new_record?
      =link_to "Cancel", user_url(current_user), class: "btn", tabindex: 6
    -else
      =link_to "Cancel", nag_url(@nag), class: "btn", tabindex: 7
