-if @nag.errors.any?
  %h3
    ="#{pluralize(@nag.errors.count, "error")} prohibited this nag from being saved:"
  %ul
    -@nag.errors.full_messages.each do |message|
      %li
        =message
%br
=form_for @nag, html: {id: "#nag-form"} do |f|
  =f.hidden_field :user_id, value: current_user.id
  =f.text_field :lendee_name, id: "who", placeholder: "Who owes you?", required: "true"
  %div#friend-list
  =f.text_field :item, id: "what", placeholder: "What do they owe you?", required: "true"
  =f.text_field :due_date, id: "when", placeholder: "When is it due?", required: "true"
  =f.text_field :lendee_uid, id: "lendee_uid", placeholder: "Lendee UID (this will be hidden in production)"
  =f.submit "Submit", :disable_with => "Submiting...", class: "submit btn"
  =link_to "Cancel", user_url(current_user), class: "btn"