%section.borrower-view
  %h2 
    Dan, we heard you're going to 
    %span.text-highlight
      Pitchfork Festival. 
  %h2 We're jealous. 
  
  %section.message-to-borrower
    We know it can get pricey with all these summer festivals but it's even pricier when you have to pay for your friend's ticket as well. So why not get that 
    %span.text-highlight
      $40 
    to your friend 
    %span.text-highlight
      Karen 
    so she can spend it on that New Kids concert the night before.

    %section.optional-message
      Enjoy the festival. Stay hydrated. And checkout the "new Belle and Sebastian."

  %figure
    %iframe{src: "http://www.youtube.com/embed/SlLu48Ql4fw"} 
