.center-container
  =render 'form'

  / var allFriends = "#{@friends.to_json}";


  / -link_to "Stuff", '#'


/ :javascript
/   var allFriends = [
/     {
/       value: "Ankur Patel",
/       email: "emailankur@gmail.com",
/       picture: "ankur.jpg"
/     },
/     {
/       value: "Arif Poonawala",
/       email: "arif.poonawala@gmail.com",
/       picture: "arif.jpg"
/     },
/     {
/       value: "Pedro Carmo",
/       email: "1pedrocarmo@gmail.com",
/       picture: "pedro.jpg"
/     },
/   ];

/ %ul
/   -@friends.each do |friend|
/     %li
/       =friend['name'] + ' - ' + friend['id']
/   -username = @graph.get_object(@friends.first['id'])['username']
/   -image_tag "https://graph.facebook.com/#{username}/picture"

:javascript
  var allFriends = #{@friends};

  // This works for simple sort of single valued lists, but will be trickier with JS objects
  // allFriends.sort();








