<h1>New Nag</h1>
<br>

<%= render 'form' %>

<h2>Friends</h2>
<% @friends.each do |friend| %>
	<li><%= friend['name'] %>, <%= friend['id'] %></li>
<% end %>
<% username = @graph.get_object(@friends.first['id'])['username'] %>
<%= image_tag "https://graph.facebook.com/#{username}/picture" %>
