.center-container
  %h2
    ="#{@nag.lendee_name} owes you #{@nag.item}"
  -if @nag.due_date.to_time > Time.now + 1.week
    .alert-box
      ="Due: #{@nag.due_date}"
  -else
    .alert-box-high-priority
      ="#{@nag.due_date.to_time.strftime("Due in %u days!")}"
  .nag-actions
    =form_for @nag, html: {id: "#nag-complete-form"} do |f|
      =link_to "Edit", edit_nag_url(@nag)
      =link_to "Delete", nag_url(@nag), method: "delete", confirm: "Are you sure you want to delete this nag?"
      =link_to "Send a reminder", send_nag_url(@nag.id), method: 'put', confirm: "Are you sure you want to nag your friend?"
      -if @nag.completed?
        =f.submit "Re-open", :disable_with => 'Re-opening...', class: "button-to-link"
        =f.hidden_field :completed, value: false
      -else
        =f.submit "Mark as complete", :disable_with => 'Completing...', class: "button-to-link"
        =f.hidden_field :completed, value: true
