@media all and (min-width:600px)

  // ****************************************************************************
  // ELEMENTS
  // ****************************************************************************
  header
    margin-bottom: 20px
    height: 65px

  h1
    +font-size-and_spacing(64)
    margin: 10px 0

  h2
    +font-size-and_spacing(32)

  h3
    +font-size-and_spacing(28)

  input[type="text"]
    height: 60px
    padding-left: 10px
    +font-size-and_spacing(28)
    width: 92%

  nav
    width: 100%
    float: none
    display: inline
    +clearfix

  textarea
    +font-size-and_spacing(18)
    height: 350px

  // ****************************************************************************
  // CLASSES
  // ****************************************************************************
  .alert-box // Used for due dates mostly
    width: 150px

  .alert, .notice // confirmation messages that the rails apps throws into =notice
    +font-size-and-spacing(22)

  .borrower-photo
    display: block // Unhides
    float: left 
    padding-right: 2%
    img 
      +border-radius(50%)
      height: 100px
      // +grayscale

  .btn
    +font-size-and_spacing(28)

  .center-container
    width: 96%
    max-width: 570px
    margin: 0 auto

  .nag 
    +clearfix // Breaking into larger widths, we start to float elements so need to clear

  .nag-actions
    +font-size-and-spacing(20)
    text-align: center
    a 
      padding-right: 10px

  .nag-details
    float: left
    margin-left: 0
    width: 71%
    h2
      margin-left: 40px
    .alert-box, .alert-box-high-priority
      margin-left: 40px

  .site-logo
    float: left
    margin-left: 20px
    width: 120px

  .toolbar
    float: right
    padding: 20px 
    +font-size-and-spacing(18)
    li
      display: inline-block // Goes back to horizontal instead of vertical
      text-align: left
      padding: 0 10px

  // ****************************************************************************
  // IDS
  // ****************************************************************************
  #friend-list
    +font-size-and-spacing(38)

  #menu-icon
    display: none

  #nav
    width: 100%
    display: inline-block
    position: static
    padding: 5px
    li
      display: inline-block
      a
        text-decoration: underline
        color: $link-color