@media all and (min-width:768px)
  h2
    +font-size-and_spacing(34)

  input[type="text"]
    height: 70px
    +font-size-and_spacing(32)

  .btn
    +font-size-and_spacing(32)

  .nag-details
    width: 77%

  .center-container
    width: 740px