// ****************************************************************************
// FONTS
// ****************************************************************************
$font-size-base: 16px

// ****************************************************************************
// COLORS
// ****************************************************************************
$link-color: #2BA6CB

$button-background: #2BA6CB

$nag-border-color: #EAEAEA

$footer-background: #D5E2F1

$alert-background: #F7941E
$alert-background-high-priority: #EF3C59
$alert-color: #fff

$title-bar-background: #000 
$title-bar-color: #FFF

$date-picker-background: #000
$date-picker-title-color: #8A2E46

$friend-list-background: #000
$friend-list-color: #2BA6CB

$text-highlight-color: #2BA6CB

$main-color: #50575E

$active-filter-color: #F7941E

$checkbox-completed-background: #5da423
$checkbox-hover-color: #fff
$checkbox-background: #e9e9e9

$menu-icon-color: #EAEAEA

$alert-border-color: #2BA6CB

// ****************************************************************************
// MIXINS
// ****************************************************************************
@mixin border-radius($border-radius)
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius

@mixin font-size-and-spacing($font-size)
  line-height: (1.5 * $font-size)px
  font-size: +em($font-size)

@mixin grayscale
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") /* Firefox 10+, Firefox on Android */
  filter: gray /* IE6-9 */
  -webkit-filter: grayscale(100%) /* Chrome 19+, Safari 6+, Safari 6+ iOS */

@mixin box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow


// ****************************************************************************
// PLACEHOLDERS
// ****************************************************************************
.zero-margin
  margin: 0

.zero-padding
  padding: 0

.zero-box
  @extend .zero-margin
  @extend .zero-padding