@import "bourbon"
@import "shared"
@import "normalize"

// html tag had to be height 100% for the footer to work
html, 
body
  margin: 0
  padding: 0
  font-family: $helvetica
  height: 100%
  color: $main-color

input[type="text"]
  height: 50px
  margin: 2px
  width: 96%
  padding-left: 5px
  +font-size-and-spacing(20)

ul, ol
  list-style: none // We don't really use lists except for navigation, so we don't want any bullets or numbering usually

ul, ol, p
  @extend .zero-box

li
  display: inline-block // Same as having no list styles. We usually want lists for horizontal nav.

h2
  +font-size-and-spacing(24)
  margin: 0 0 10px 0 // Overrides higher margins from browser stylesheet
  color: $main-color

a
  color: $link-color
  text-decoration: none
  &:hover
    text-decoration: underline

nav
  +clearfix // Even in narrow view, elements are floated so a clear is needed
  width: 300px
  margin: 0 auto

figure
  height: 0
  padding-bottom: 56.25%
  position: relative
  width: 100%
  margin-left: 0

iframe
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100% 

footer
  position: absolute // Needs to be absolute, relative to parent's container to pin to the bottom
  bottom: 0
  background: $footer-background
  width: 100%
  height: 50px
  text-align: center

.container
  position: relative // Needed to make sure the footer can be positioned absolutely to the bottom
  min-height: 100% // Needed to make sure the footer can be positioned absolutely to the bottom

.utility-links // Contains the links in the footer without messing up the height/positioning of the footer element itself
  margin: 15px auto

.main // Contains the "body" of the page. Instead of applying to section elements, this is applied as %section.main
  width: 90%
  margin: 0 5%
  padding-bottom: 100px // Padding required to pin and position the footer

.title-bar
  background: $title-bar-background
  color: $title-bar-color
  width: 100%
  margin: 0 0 20px 0
  padding: 0

.site-logo
  height: 100px

.toolbar // Actions users can take globally - settings, sign out, new nag, etc.
  margin: 5px 0
  li
    padding: 0 8px // Padding between items in the toolbar

.filters
  li
    padding: 0 5px

.alert-box // Used for due dates mostly
  background-color: $alert-background
  color: $alert-color
  padding: 5px
  +border-radius(5px)
  text-align: center
  width: 150px

.alert-box-high-priority // Different color for due dates coming soon
  @extend .alert-box
  background-color: $alert-background-high-priority

.btn
  +button($button-background)
  font-size: +em(24)

.btn-new
  +button($button-background)
  font-size: +em(12) // In narrow view since it's in the toolbar, keep the button smaller
  float: right

.nag // A row on the dashboard
  padding: 4% 0
  border-bottom: 1px solid $nag-border-color

.nag-details
  margin-left: 40px

.checkbox
  display: block
  float: left
  width: 30px
  height: 30px
  margin-right: 2%
  border-radius: 3px
  background-color: #eaeaea
  text-align: center
  cursor: pointer

.checkbox:before 
  content: "✓"
  color: #ccc
  font-size: 20px
  line-height: 30px
  position: relative
  top: 1px
  // text-shadow: 1px 1px 1px rgba(0,0,0,.4)

.checkbox:hover:before, .checked:before
  color: #fff

.checkbox:hover, .checked
  background-color: #5da423

.borrower-photo // In narrow view, hide the person's face
  display: none

.borrower-view
  width: 100%
  margin: 0

.text-highlight
  color: $text-highlight-color

.optional-message
  margin: 20px 0 10px 0

.nag-actions
  +font-size-and-spacing(16)
  padding-top: 30px
  a
    padding-right: 10px

.button-to-link // Makes a button look like a link. Used for form submit buttons sometimes.
  @extend a
  background-color: transparent
  border: none

// Used for jQuery autocomplete
#friend-list
  position: relative
  top: -10px
  width: 98%
  margin: 0 3px
  +font-size-and-spacing(20)
  background: $friend-list-background
  color: $friend-list-color
  li
    padding-left: 10px
    display: block // override our general li styles to actually be in a vertical list

// Hides an unnecessary span in the jQuery autocomplete
.ui-helper-hidden-accessible
  display: none

// Styling for jQuery date picker used on new/edit form
#ui-datepicker-div
  background: $date-picker-background
  .ui-datepicker-header
    margin: 10px
  .ui-datepicker-title
    color: $date-picker-title-color
    padding: 5px
  a
    padding: 5px




@import "media-query-1"
@import "media-query-2"
@import "media-query-3"
@import "media-query-4"

