@import "bourbon"
@import "shared"
@import "normalize"

// ****************************************************************************
// ELEMENTS
// ****************************************************************************

a
  color: $link-color
  &.checkbox
    text-decoration: none

// html tag had to be height 100% for the footer to work
body, html
  margin: 0
  padding: 0
  font-family: $helvetica
  height: 100%
  color: $main-color

figure
  @extend .zero-box

footer
  position: absolute // Needs to be absolute, relative to parent's container to pin to the bottom
  bottom: 0
  background: $footer-background
  width: 100%
  height: 50px
  text-align: center

header
  margin-bottom: 10px
  // background: $title-bar-background
  background: url('debut_dark.png') repeat
  color: $title-bar-color
  width: 100%
  padding-bottom: 10px
  height: 45px

h2
  +font-size-and-spacing(20)
  margin: 0 0 10px 0 // Overrides higher margins from browser stylesheet
  color: $main-color

iframe
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

input[type="text"]
  height: 40px
  width: 97% // This accounts for 2px border around form fields
  padding-left: 1%
  +font-size-and-spacing(20)
  margin: 5px auto

li
  display: inline-block // Same as having no list styles. We usually want lists for horizontal nav.

nav
  // +clearfix // Even in narrow view, elements are floated so a clear is needed
  // width: 300px
  width: 105px
  margin: 0
  display: inline-block
  float: right

ol, ul
  list-style: none // We don't really use lists except for navigation, so we don't want any bullets or numbering usually

ol, p, ul
  @extend .zero-box

textarea
  width: 97%
  height: 300px
  font-style: italic
  border: 2px solid $nag-border-color
  padding: 5px
  +font-size-and_spacing(14)

// ****************************************************************************
// CLASSES
// ****************************************************************************

.active-filter
  color: #fff
  +box-shadow(0 1px 0 rgba(255,255,255,0.8),inset 0 1px 3px #3f3d39)
  background-color: rgba(141,139,133,0.64)
  +border-radius(50px)
  +background-image-gradient(linear,left top,left bottom,from(rgba(114,107,98,0.73)),to(rgba(141,139,133,0.64)))
  +text-shadow(0 1px 2px rgba(0,0,0,0.7))
  padding: 4px 15px
  text-decoration: none

//This isn't the best way to break up alert
//styles but it's the way Will structured these so we'll keep it for now.
.alert //error message
  @extend .flash-messages
  border: 2px solid $alert-error-border-color
  color: $alert-error-text-color
  background-color: $alert-error-bg-color

.alert-box // Used for due dates mostly
  background-color: $alert-background
  color: $alert-color
  padding: 5px
  +border-radius(5px)
  text-align: center
  width: 170px
  margin: 15px 0

.alert-box-high-priority // Different color for due dates coming soon
  @extend .alert-box
  background-color: $alert-background-high-priority
  color: #fff

.black 
  background: black
  h2
    color: white
  p
    color: #CCC

.borrower-photo // In narrow view, hide the person's face
  display: none

.btn
  +button($button-background)
  font-size: +em(20)
  margin-left: 0

.button-to-link // Makes a button look like a link. Used for form submit buttons sometimes.
  @extend a
  background-color: transparent
  border: none
  text-decoration: underline
  padding: 0

.checkbox
  display: block
  float: left
  width: 28px
  height: 28px
  margin-right: 2%
  +border-radius(3px)
  background-color: $checkbox-background
  text-align: center
  cursor: pointer
  +box-shadow(inset 1px 4px 9px -6px #000)

.checked:before
  content: "✓"
  color: $check-color
  font-size: 24px
  line-height: 30px
  display: inline-block

.checked
  background-color: $checkbox-background

.container
  position: relative // Needed to make sure the footer can be positioned absolutely to the bottom
  min-height: 100% // Needed to make sure the footer can be positioned absolutely to the bottom

.edit-user
  text-align: center

// Used solely by the jQuery validator to display errors on the form
.error
  display: block
  color: $form-error-color
  margin: 5px 0 15px 5px
  +font-size-and-spacing(16)
  text-align: left

.facebook-sign-in
  width: 200px
  float: right
  padding: 0 7px 0 0 

.feature
  position: relative
  top: 0
  left: 0

.features
  padding: 0

.feature-1
  @extend .zero-box
  height: 800px
  background-image: url("/assets/laptop.png")
  background-repeat: no-repeat
  background-size: 900px 
  background-position: 20px 20px
  position: relative
  top: 50px
  left: 0
  border-bottom: 1px solid #F2F2F2
  h2
    font-size: +em(20)
    line-height: +em(27)
    padding: 0 40px
    max-width: 700px
    margin: 0 auto
  p
    font-size: +em(18)
    line-height: +em(27)
    padding: 20px 40px 40px 40px
    max-width: 700px
    margin: 0 auto
  .feature-text
    position: absolute
    top: 0
    left: 130px
    width: 700px
    margin: 0 auto
    text-align: center

.feature-2
  @extend .zero-box
  padding-top: 75.625%
  background-image: url("/assets/iphone-facebook-message.png") 
  background-position: 250px 0px
  background-size: cover
  position: relative
  top: 0
  left: 0
  border-bottom: 1px solid #F2F2F2
  h2
    font-size: +em(32)
    line-height: +em(27)
    padding: 0 40px
    max-width: 700px
    margin: 0 auto
  p
    font-size: +em(28)
    line-height: +em(27)
    padding: 20px 40px 40px 40px
    max-width: 700px
    margin: 0 auto
  .feature-text
    position: absolute
    top: 100px 
    left: 0
    width: 575px

.feature-3
  @extend .zero-box
  padding-top: 71.640625%
  background-image: url("/assets/ipad-home.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: 0 175px
  position: relative
  top: 0
  left: 0
  h2
    font-size: +em(20)
    line-height: +em(27)
    padding: 0 40px
    max-width: 700px
    margin: 0 auto
  p
    font-size: +em(18)
    line-height: +em(27)
    padding: 20px 40px 40px 40px
    max-width: 700px
    margin: 0 auto
  .feature-text
    position: absolute
    top: 0
    left: 0
    width: 700px
    margin: 0 auto

.filters
  display: block
  float: left
  margin: 20px auto
  li
    padding: 0 5px
  a

.flash-messages
  +font-size-and-spacing(20)
  margin: 10px 0
  padding: 10px 10px 10px 20px
  +border-radius(5px)  

.hero 
  margin: 0
  h2
    padding: 10px 10px 30px 10px
    text-align: center
  border-bottom: 1px solid #F2F2F2

.hero-image
  // padding-top: 66.640625%
  // background-image: url("/assets/iphone-white.png")
  // background-size: cover
  padding-bottom: 56.25%
  position: relative
  height: 0
  iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: none

.highlight
  background: yellow

.landing-container
  width: 960px
  margin: 0 auto
  border: 1px solid #ccc
  +border-radius(5px)
  +box-shadow(0 1px 8px rgba(0,0,0,0.1))
  position: relative
  top: 0
  left: 0
  // font-family: "Oxygen", Helvetica , serif

.landing-header
  height: 50px
  padding-top: 10px

.landing-logo
  width: 300px
  margin: 0 auto
  padding: 10px 0 0 10px
  display: block

.lender-photo
  display: none // hides in narrow view

.main // Contains the "body" of the page. Instead of applying to section elements, this is applied as %section.main
  width: 90%
  margin: 0 5%
  padding-bottom: 100px // Padding required to pin and position the footer

.nag // A row on the dashboard
  padding: 4% 0
  border-bottom: 1px solid $nag-border-color
  &:last-child
    border: none // clears the border on the last nag in the list so it doesn't run into footer

.nag-actions
  +font-size-and-spacing(16)
  padding-top: 15px
  text-align: center
  a
    padding-right: 5px

.nag-details
  margin: 0
  a
    text-decoration: none
    &:hover
      // color: $nag-hover-color
      text-decoration: underline
  .alert-box, .alert-box-high-priority, h2
    margin-left: 35px

.nag-completed // this one needs to stay below .nag-details to cascade the a:hover style
  text-decoration: line-through
  a
    &:hover
      text-decoration: none

.nag-form
  margin: 0 auto
  width: 100%
  text-align: center // Needed to center input fields
  max-width: 900px // At a certain point we don't want the form to get any wider by %

.nag-form-header
  @extend .nag-form
  +font-size-and-spacing(20)
  margin: 20px auto

.nag-form-buttons // Positions the submit/cancel buttons on the form
  margin: 15px auto
  width: 100%

.notice // success message
  @extend .flash-messages
  border: 2px solid $alert-success-border-color
  color: $alert-success-text-color
  background-color: $alert-success-bg-color
.newnag-btn
  display: none

.newnag-link
  display: block  

.newnag-btn
  display: none

.newnag-link
  display: block  

.optional-message
  margin: 20px 0 10px 0

.reminder-buttons
  margin: 10px auto

.reminder-form
  display: none
  margin-top: 40px
  form
    text-align: center

.site-logo
  float: left
  width: 85px
  margin: 0
  padding: 10px 0 0 10px
  display: block

.subnav
  +clearfix
  a
    text-decoration: none

.text-highlight
  color: $text-highlight-color

.toolbar // Actions users can take globally - settings, sign out, new nag, etc.
  margin: 0 auto
  +font-size-and-spacing(16)
  li
    display: block // Makes list go vertical instead of horizontal
    text-align: center
    padding: 5px 0
  a

// Hides an unnecessary span in the jQuery autocomplete
.ui-helper-hidden-accessible
  display: none

.utility-links // Contains the links in the footer without messing up the height/positioning of the footer element itself
  margin: 15px auto
  +font-size-and-spacing(13)
  a
    padding: 0 5px

.white
  // +linear-gradient(#f1f0f0, #fff)
  background: #f1f0f0


// ****************************************************************************
// IDS
// ****************************************************************************

#close_flash //Close flash messages
  cursor: pointer
  margin: -1px 8px 0 0

// Used for jQuery autocomplete
#friend-list
  position: relative
  top: -5px
  width: 100%
  // margin: 10px 0 0 0 
  +font-size-and-spacing(20)
  background: $friend-list-background
  color: $friend-list-color
  li
    padding-left: 10px
    display: block // override our general li styles to actually be in a vertical list
    &:hover
      background: $friend-list-hover-background
    &:active
      background: $friend-list-hover-background

#menu-icon
  color: $menu-icon-color
  height: 40px
  background: url('menu-icon2.png') no-repeat 15px center
  padding: 14px 3px 0 50px
  cursor: pointer
  display: block
  float: right
  border-left: 1px solid #666

#nav
  clear: both
  position: absolute
  top: 55px
  width: 95px
  z-index: 10000
  padding: 5px
  background: url('debut_dark.png') repeat
  display: none
  li
    text-align: left
    padding-left: 5px
    a
      text-decoration: none
      color: $title-bar-color
    a:hover
      color: $link-color
      text-decoration: underline

// Styling for jQuery date picker used on new/edit form
#ui-datepicker-div 
  z-index: 10
  border: 1px solid $date-picker-border-color
  +border-radius(2px)
  background: $date-picker-background
  a 
    text-decoration: none
    margin: 5px

.ui-datepicker-header
  margin: 10px
.ui-datepicker-title
  color: $date-picker-title-color
  padding: 5px
.ui-datepicker-today
  background: $date-picker-today-background
  a
    color: $date-picker-highlighted-link-color
.ui-datepicker-current-day
  background: $date-picker-selected-background
  a
    color: $date-picker-highlighted-link-color

// ****************************************************************************
// MEDIA QUERIES
// ****************************************************************************

@import "media-query-1"
@import "media-query-2"
@import "media-query-3"
@import "media-query-4"
