!!! 5
%html
  %head
    %title
      Nag
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width", name: "viewport"}
  %body
    .title-bar
      %nav
        =link_to image_tag("naglogo.png", class: "site-logo"), root_url       
        -if current_user
          %ul.toolbar
            %li
              =link_to 'Dashboard', user_url(current_user)
              \/
            %li
              =link_to 'Settings', edit_user_url(current_user)
              \/
            %li
              =link_to 'Admin', '/admin'
              \/
            %li
              =link_to "Sign out", signout_url, id: "sign_out"
            %p.signed-in-username
              Currently signed in as
              =current_user.name
            
    .container
      =notice
      =yield
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"}
