!!! 5
%html
  %head
    %title
      Nag
    =stylesheet_link_tag "application", :media => "all"
    =csrf_meta_tags
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width", name: "viewport"}
    %meta{property: "og:title", content: "Nag"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "http://www.startnagging.com/"}
    %meta{property: "og:image", content: "http://startnagging.com/assets/144x144.png"}
    %meta{property: "og:site_name", content: "Nag"}
    %meta{property: "og:description", content: "Being generous shouldn't be so hard. Nag helps get your stuff back."}
    %link{rel: "apple-touch-icon-precomposed", sizes: "57x57", href: "/assets/apple-touch-icon-57x57.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/assets/apple-touch-icon-72x72.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/assets/apple-touch-icon-114x114.png"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/assets/apple-touch-icon-144x144.png"}

  %body
    .container
      %header
        =link_to image_tag("naglogo.png", class: "site-logo"), login_url
        %nav#nav-wrap
          -if current_user && current_user.has_valid_token?
            .toolbar
              %ul#nav
                %li
                  =link_to "New Nag", new_nag_url
                %li
                  =link_to 'Settings', edit_user_url(current_user)
                %li
                  =link_to "Sign out", signout_url, id: "sign_out", method: 'delete'
            #menu-icon
      %section.main
        -if flash.present?
          .flash-message
            -flash.each do |msg, value|
              %p{class: "#{msg}"}
                =value
                %span{style: "float: right;", id: "close_flash"}
                  x
        =yield
      %footer
        %section.utility-links
          %a{href: "#"} About
          %a{href: "#"} Contact
    / Order of the script files matters. Should stay in the body tag but at the bottom of the page for performance and to prevent blocking scenarios.
    =javascript_include_tag "application"
    %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"}
    %script{src: "//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"}
